apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-blue
  labels:
    app: app
    version: blue
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app
      version: blue
  template:
    metadata:
      labels:
        app: app
        version: blue
    spec:
      containers:
        - name: app-blue
          image: huytm1996/demo:blue
          ports:
            - containerPort: 80
